.scroll{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 10px 20px 20px;
    background-color: #1aabcd;
    border: none;
    transition: all 1s;
}

.scroll:hover{
    background-color: #5bc5ed;
    color: black;
}