.footer{
    background-color: #171718;
    color: #fff;
    padding: 3em;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list li{
    margin: 0 12em;
    transition: all 0.5s;
    cursor: pointer;
}

.social_list_two{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list_two li{
    margin: 0 12em;
    transition: all 0.5s;
    cursor: pointer;
}
.social_list_three{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.social_list_three li{
    margin: 0 12em;
    transition: all 0.5s;
    cursor: pointer;
}

.authorized{
    margin-left: 40px;
}