.container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    background-color: #0E1011;
}

/* Introdução */
.container .bem_vindo img{
    margin-top: -60px;
    width: 100%;
    height: 100%;
    margin-bottom: 114px;
}

.container h1{
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 71px;
    text-align: center;
    color: #ffffff;
    letter-spacing: -0.5px;
    cursor: default;
}

.container h1 span{
    color: #1aabcd;
}

.container p{
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 71px;
    max-width: 700px;
    text-align: center;
    line-height:24px;
    color: #ffff;
    text-align: center;
    letter-spacing: 0.15px;
    cursor: default;
    margin-top: 50px;
}

.container .buttons {
    display: flex;
    margin-top: 70px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container .button1{
    margin-top: 20px;
    margin-right: 10px;
    padding: 1.2em 2em;
    border: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1aabcd;
    transition: all 0.5s;
}

.button2 {
    margin-top: 20px;
    padding: 1.2em 2em;
    border: 1px solid #1aabcd;
    color: #1aabcd;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: transparent;
    transition: all 0.5s;
}

.container .button1:hover{
    background-color: #5bc5ed;
}

.container svg {
    padding-right: 10px;
    margin-bottom: -1px;
}

.container_height{
    height: 400px;
}

/* Sobre mim */

.card_home{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin-top: 169px;
    width: 967px;
    height: 453.16px;
    background-color:#1F1F21;
    border: 1.5px solid #3D3D3D;
    box-sizing: border-box;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 100px 100px rgba(26,171,205,0.09); 
    box-shadow: 0px 0px 100px 100px rgba(26,171,205,0.09);
}

.card_home .image_container img{
    position: static;
    margin: 24px 0px 24px 24px;
    width: 405.16px;
    height: 405.16px;
    border: 1px solid transparent;
    background-image: linear-gradient(to right, rgba(160,219,194,0.5) , rgba(26,171,205,0.5));
    background-color: rgba(26,171,205,0.5);
    border-radius: 5%;
    box-shadow: inset -1px -3px 30px 30px rgba(156,93,180,0.4); 
}

.card_home h1{
    color: #1aabcd;
    text-align: start;
    margin-left: 32px;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 57px;
 }

 .card_home p{
    margin-top: -20px;
    letter-spacing: 0.44px;
    text-align: start;
    margin-left: 32px;
    font-weight: normal;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 28px;
    width: 470px;
 }

 .card_home .button_card {
    margin-left: 32px;
    margin-top: 9px;
    padding: 1.2em 1.6em;
    border: 1.5px solid #1aabcd;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 10px;
    border-radius: 8px;
    cursor: pointer;
    color: #1aabcd;
    background-color: transparent;
    transition: all 0.5s;
}

.card_home .button_card svg{ 
    font-size: 12px;
    margin-left: 5px;
    margin-right: -20px;
}

/* Minhas Habilidades */

.abilities h1{
    margin-top: 160px;
    margin-bottom: 95px;
    color: #1aabcd;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
}

.badges {
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    max-width: 1700px;
}

.badges svg {
    font-size: 40px;
    color: #1aabcd;
}

.badges h2 {
   color: #ffffff;
   font-family: DM Sans, Arial, Helvetica, sans-serif;
   font-weight: 500;
   font-size: 34px;
   line-height: 40px;
   letter-spacing: 0.25px;
}

.badges p {
    margin-top: 15px;
    color: #ffffff;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.44px;
    text-align: start;
    width: 340px;
 }

 .abilities_button{
    margin-top: 90px;
    padding: 1.2em 2em;
    border: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1aabcd;
    transition: all 0.5s;
 }

 .container .abilities_button:hover{
    background-color: #5bc5ed;
}

/* Alguns dos meus projetos */

.projects h1{
    margin-top: 178px;
    margin-bottom: 60px;
    color: #1aabcd;
    font-family: DM Sans, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.25px;
}

.projects img{
    width: 1155px;
    height: 534px;
    border-radius: 20px;
    display: flex;
    margin-bottom: 59px;
    border: 1.5px solid #1aabcd;
    -webkit-box-shadow: 0px 0px 30px 30px rgba(26,171,205,0.3); 
    box-shadow: 0px 0px 30px 30px rgba(26,171,205,0.09);
}

.projects_button {
    margin-top: 60px;
    margin-bottom: 175px;
    padding: 1.2em 1.5em;
    border: none;
    font-family: Poppins, Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 10px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #1aabcd;
    transition: all 0.5s;
}

.projects_button:hover {
    background-color: #5bc5ed;
}

@media (max-width: 480px) {

    .container .bem_vindo img{
        display: none;
    }

    .container h1{
        font-size: 45px;
    }
  
    .container p{
        font-size: 14px;
    }

    .container .buttons {
        margin-top: 190px;
        flex-direction: column;
    }
    
    .container .button1{
    margin-right: 0;
    margin-bottom: 20px;
    }

    .card_home{     
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 169px;
        width: 350px;
        height: auto;
    }

    .card_home .image_container img{
        margin: 24px 26px 24px 24px;
        width: 250.16px;
        height: 250.16px;
        border: 1px solid transparent;
    }

    .card_home h1{
        text-align: center;
        margin-left: 0px;
        font-weight: 500;
        font-size: 36px;
     }

     .card_home p{
        margin-top: -20px;
        text-align: center;
        margin-left: 0px;
        font-size: 16px;
        width: 300px;
     }

     .card_home .button_card {
        margin-left: 50px;
        margin-top: 9px;
        margin-bottom: 40px;
    }

    .abilities h1{
        font-size: 34px;
        line-height: 40px;
    }

    .badges svg {
        font-size: 30px;
    }
    
    .badges h2 {
       font-size: 30px;
    }

    .badges p {
        margin-top: 15px;
        color: #ffffff;
        font-family: DM Sans, Arial, Helvetica, sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        letter-spacing: 0.44px;
        text-align: start;
        width: 260px;
     }

     .projects h1{
        margin-top: 148px;
        margin-bottom: 60px;
        color: #1aabcd;
        font-family: DM Sans, Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 26px;
        line-height: 40px;
        letter-spacing: 0.25px;
    }

    .projects img{
        width: 340px;
        height: 220px;
        border-radius: 20px;
        display: flex;
        margin-bottom: 59px;
        border: 1.5px solid #1aabcd;
        -webkit-box-shadow: 0px 0px 30px 30px rgba(26,171,205,0.3); 
        box-shadow: 0px 0px 30px 30px rgba(26,171,205,0.09);
    }
    
}